<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143780366726-a76slcbre4d8dlge6rca76bos1ij3v6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143780366726-a76slcbre4d8dlge6rca76bos1ij3v6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDNECKd2OOe7mwZcPlzwBmhUBvbFCFXzo8</string>
	<key>GCM_SENDER_ID</key>
	<string>143780366726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DrinkWater</string>
	<key>PROJECT_ID</key>
	<string>testadrian-2bbc5</string>
	<key>STORAGE_BUCKET</key>
	<string>testadrian-2bbc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143780366726:ios:6bfbd9a5ef530fa4a78407</string>
</dict>
</plist>